{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row mt-5"  >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <center>
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="primaryAction btn btn-info mt-1" style="background-color: #ff4500; border-style:none;">{% trans 'Sign Out' %}</button>
</form>
</div>
<div class="col-md-4"></div>
</div>
</center>



{% endblock %}
